header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  width: 100%;
  height: 100px;
  background: #8f57fd;
  color: #fff;
}
.header-logo{
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
.header-logo .header-logo--text{
  color: white;
  line-height: 24px;
}

.header-menu{
  margin-right: 32px;
}

.header-menu--links{
  display: none;
  position: absolute;
  width: 100px;
  list-style: none;
  margin: 0px 0px 0px -64px;
  padding: 0px;
  text-align: right;
}

.header-menu:hover .header-menu--links, .header-menu--links:hover{
  display: block;
}

.header-menu li{
  margin: 10px 0;
}

.header-menu li a {
  color: #ccc;
  text-decoration: none;
}

.header-menu li a:hover{
  color: #fff;
}

.header-menu--profile{
  cursor: pointer;
}
