.register{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  min-height: 100vh;
  background-image: linear-gradient(#21c08b, #8f57fd);
}

.register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 500px;
  width: 300px;
  padding: 32px 32px;
  border: 2px solid white;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: rgba(255, 255, 255, 0.1);
  color: white
}

.register-container--form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container a{
  color: #ddd;
  font-size: 16px;
  text-decoration: none;
}
.register-container a:hover{
  color: #fff;
  text-decoration: underline;
}